<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataStorage" type="Agilty.DataStorage.DataStorageConfiguration, Agilty.DataStorage"/>
    <section name="DataStorage.JSON" type="Agilty.DataStorage.JSON.DataStorageConfiguration, Agilty.DataStorage.JSON"/>
  </configSections>
  <DataStorage Provider="Agilty.DataStorage.JSON.Storage, Agilty.DataStorage.JSON"/>
  <DataStorage.JSON>
    <Loader >
    </Loader>
  </DataStorage.JSON>
</configuration>